@import url('https://fonts.googleapis.com/css?family=Playfair Display');
*{
    
    font-family: 'Playfair Display', monospace;
    margin:0px;
}
body{
    background-color:var(--primary-color);
}
:root{
    --primary-color: #fff;
    --secondary-color:#000;
    --third-color:#943133;
    --first-bg-img: linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/bg-mob.jpg");
    --second-bg-img:linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/2.jpg");

}
a { 
    color: inherit; 
    text-decoration: none;
} 
h1{
    color:var(--primary-color);
    padding: 12px 20px;
    animation-name: navega-ani;
    animation-duration: 2s;
}

/*Main page mobile */

.navegacion{
    position:fixed;
    height: 9vh;
    width: 100vw;
    z-index: 2;
    background-color:white;
    border-bottom: 2px solid black;
    top:0;
}
.left-container{
        
    position: absolute;
    left:1rem;
    top:0.5rem;

}


.logo{
    max-width: 12vw;
    height: auto;
    
}

.links-nav{
    position: absolute;
    right:1rem;
    top:0.7rem;
}
.links-nav i{
    font-size: 2.5rem;
    
}
.links-nav i:hover{
    animation-name: example;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;


}

@keyframes example {
    10%{transform:rotate(20deg)}
    25%{transform:rotate(45deg)}
    50%  {transform: rotate(90deg);}

    100% {transform: rotate(180deg);}
}

.links-nav ul{
    display: none;
}

.reserva-tel{
    display: none;
}

.bg-img{
    width: 100vw;
    height:100vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/bg-mob.jpg");   
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    transition: 5s;
    animation-name:background-img;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
.bg-img::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
    content:url("./imgs/bg-mob.jpg") url("./imgs/bg1-mob.jpg") url("./imgs/bg2-mob.jpg")  url("./imgs/bg3-mob.jpg") url("./imgs/bg4-mob.jpg") url("./imgs/bg5-mob.jpg");   
 }

@keyframes background-img{

    0%{
        background-image:linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/bg1-mob.jpg");   
    }


    20%{
        background-image:linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/bg2-mob.jpg");
    }
    40%{
        background-image:linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/bg3-mob.jpg");

    }
    60%{
        background-image:linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/bg4-mob.jpg");

    }
    80%{
        background-image:linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/bg5-mob.jpg");

    }

    100%{
        background-image:linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/bg-mob.jpg");

    }


}



.descripcion{
    color:var(--primary-color);
    max-width:720px;
    font-size: 1.5rem;
    text-align: center;
    margin:0;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-reservar{
    margin-top: 2rem;
    padding: 1rem 1rem;
    background:var(--secondary-color) ;
    border:1px solid var(--primary-color);
    color:var(--primary-color);
    font-size: 1.5rem;
    transition: background-color 2s;
}

.btn-reservar:hover{
    
    background-color: var(--primary-color);
    
}


.btn-reservar:hover{
    background:var(--primary-color) ;
    border:1px solid var(--secondary-color);
    color:var(--secondary-color);
}

.flecha{
    color: var(--primary-color);
    font-size: 5rem;
    
    animation-name: flecha;
    position: absolute;
    bottom: 2rem;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes flecha{
    50%{
        transform: scale(1.1);
    }

}

.menuses{
height: 100vh;
width: 100vw;
font-size: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
}


.iconos{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.iconos img{
    border-radius: 50%;
    border:var(--secondary-color) 10px solid;
    width: 50vw;
    height: 50vw;
}

.comida-tragos{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.mezcal-desti{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}





.destilados{
    text-align: justify;
    background-color: var(--primary-color);
    padding-top:2rem;
    padding-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
   
}
.destilados div{
    margin-bottom: 5rem;
}
.info-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destilados img{
    max-width: 100%;
    height: auto;

   
}
.destilados h3{

    font-size:3rem;
    color:var(--third-color);
    border-bottom: 3px solid var(--third-color);
}
.destilados p {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    word-spacing: 3px;
    
}



footer{
    height: 25vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
    color:var(--primary-color);
    
}
.redes {
    font-size: 1.3em;

    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}


.footer-text{
    font-size: 1rem;
}



@media only screen and (min-width: 768px) {

   
    .logo{
        max-width: 3.5vw;
        height: auto;
    }
    
    .links-nav{
        position: absolute;
        right:3rem;
        top:1.5rem;
    }
    .links-nav i{
        font-size: 3.5rem;
        
    }
    .menuses{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .iconos{
        display: flex;
        flex-direction: row;
    }

    .iconos img{
        border-radius: 50%;
        border:var(--secondary-color) 10px solid;
        width: 25vw;
        height: 25vw;
    }



}