@import url('https://fonts.googleapis.com/css?family=Playfair Display');
*{
    
    font-family: 'Playfair Display', monospace;
    margin:0px;
}
body{
    background-color:var(--primary-color);
}
:root{
    --primary-color: #fff;
    --secondary-color:#000;
    --third-color:#943133;
}
a { 
    color: inherit; 
    text-decoration: none;
} 
h1{
    color:var(--primary-color);
    padding: 12px 20px;
    animation-name: navega-ani;
    animation-duration: 2s;
}

/*Main page mobile */

.navegacion{
    position:fixed;
    height: 9vh;
    width: 100%;
    z-index: 2;
    background-color:white;
    border-bottom: 2px solid black;
    top:0;
}
.left-container{
    top:1rem;
    position:absolute;
    left: 3rem;
}


.logo{
    max-width: 12vw;
    height: auto;
}

.links-nav{
    position: absolute;
    right:3rem;
    top:1.5rem;
}
.links-nav i{
    font-size: 6rem;
    
}
.links-nav i:hover{
    animation-name: example;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;


}

@keyframes example {
    10%{transform:rotate(20deg)}
    25%{transform:rotate(45deg)}
    50%  {transform: rotate(90deg);}

    100% {transform: rotate(180deg);}
}

.links-nav ul{
    display: none;
}

.reserva-tel{
    display: none;
}





.bg-img{
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    background-image:linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url("./imgs/bg-mob.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
}

.descripcion{
    color:var(--primary-color);
    max-width:720px;
    font-size: 3rem;
    text-align: center;
}

.btn-reservar{
    margin-top: 4rem;
    padding: 2.5rem 4rem;
    background:var(--secondary-color) ;
    border:1px solid var(--primary-color);
    color:var(--primary-color);
    font-size: 2.5rem;
}

.btn-reservar:hover{
    background:var(--primary-color) ;
    border:1px solid var(--secondary-color);
    color:var(--secondary-color);
}

.flecha{
    color: var(--primary-color);
    font-size: 4em;
    padding-top:8rem;
    animation-name: flecha;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes flecha{
    50%{
        bottom: 25px;
    }
    100%{
        bottom: 15px;
    }
}


.header-menus{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: 50px;
    margin-top: 50px;
}

.iconos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 100px;
}

.iconos img{
    border-radius: 50%;
    border:var(--secondary-color) 10px solid;
    max-width: 25rem;
    height: auto;
    
}

.comida-tragos{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

.mezcal-desti{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}